<!DOCTYPE html>
<html>
<head>
    <title>Newsbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/animate.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/themes/flat-blue.css">
    <style>
        .card-title a:hover{
            text-decoration:  underline;
        }
    </style>
</head>
<body class="flat-blue">
    <div id="paginaPrincipal" class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">Noticias</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <!--Será adicionado em futuras versões-->
                    <ul class="nav navbar-nav navbar-right" style="">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs" />
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">0</span>
                                </li>
                                <li class="message">
                                    No new notification
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                            <ul class="dropdown-menu danger  animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">4</span>
                                </li>
                                <li>
                                    <ul class="list-group notifications">
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item message">
                                                view all
                                            </li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Emily Hart <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">Emily Hart</h4>
                                        <p>emily_hart@email.com</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/Será adicionado em futuras versões-->
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div id="listaFeedUrl" class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-book"></div>
                                <div class="title">Newsbook</div>
                                &nbsp;<button v-on:click="criarNovoFeed()" class="btn btn-success btn-xs" type="button"><i class="fa fa-plus"></i>&nbsp; Novo</button>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#" v-on:click=" listarNoticia()" onclick="ativarMenuItem(this); mostrarAguarde()">
                                    <span class="icon fa fa-home"></span><span class="title">Todos</span>
                                </a>
                            </li>
                            <li v-for="feed in ListaFeedUrl">
                                <a href="#" v-on:click="listarNoticiaPorFeedUrl(feed.Id)" onclick="ativarMenuItem(this)" :title="feed.Titulo">
                                    <span class="icon fa fa-folder"></span><span class="title">{{feed.Titulo}}</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div id="listaNoticia" class="side-body padding-top">
                    <div  class="row" v-for="noticia in ListaNoticia">
                        <div class="col-md-12">
                            <div class="card card-success">
                                <div class="card-header" >
                                    <div class="card-title">
                                        <div class="title" style="font-size: 20px !important;font-family: Arial;"><a style=" color: #ffffff !important;" v-bind:href="noticia.Link" target="_blank">{{noticia.Titulo.trim() }}</a>
                                       
                                        </div>
                                    </div>
                                    <div class="pull-right card-action" style="padding-top: 15px">
                                        <span class="label" style="font-size:12px;font-family: Verdana;">{{noticia.strDataPublicacao}}</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-indent" style="font-size:16px;font-family: Verdana;" v-html="noticia.Conteudo"></div>
                                    <br />
                                    <div class="text-indent" style="font-size:14px;font-family: Verdana;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="carregandoNoticias" class="row" style="display:none">
                        <div class="col-md-12 text-center"><center>
    <img src="img/loading.gif" style="width: 100px; height: 100px;" />
</center>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- /pagina principal -->

            
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">1.0 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2017 Copyright Newsbook
            </div>
        </footer>
        </div>

    <!-- Modal Novo Feed -->
    <div class="modal" id="modalFeed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Preencha a url do seu feed ;)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label for="txtFeed">Url</label>
                                <input id="txtFeed" v-model="feed" type="text" class="form-control" placeholder="http://feed.com.br">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" v-on:click="Salvar()">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Aguarde -->
    <div class="modal bs-example-modal-sm" id="modalAguarde" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Aguarde</h4>
                </div>
                <div class="modal-body">
                    <div style="margin: 0 auto;">
                        <center>
                            <img src="img/loading.gif" style="width: 100px; height: 100px;" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Aguarde -->
        
            <!-- Javascript Libs -->
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="lib/js/Chart.min.js"></script>
            <script type="text/javascript" src="lib/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="lib/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="lib/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="lib/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="lib/js/select2.full.min.js"></script>
            <script type="text/javascript" src="lib/js/ace/ace.js"></script>
            <script type="text/javascript" src="lib/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="lib/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script src="lib/js/vue.js"></script>
            <script src="lib/js/vue-resource.js"></script>
            <script src="scripts/urlapis.js"></script>
            <script type="text/javascript" src="js/app.js"></script>
            <script type="text/javascript" src="js/index.js"></script>
            <script src="js/newsbook.js"></script>
            <script src="js/newfeed.js"></script>
            <script src="scripts/index.js"></script>
           
</body>
</html>

